<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post constructor by Daniil Postnov</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<main id="app">


		<a class="github-icon" target="_blank" href="https://github.com/Postnov/vue-post-constructor">
			<img src="images/github-icon.png" class="github-icon__img" alt="">
		</a>

		<div class="container">

			<!-- Start Create Post -->

			<div class="create">
				<h1>Post constructor</h1>

				<div class="create__row">
					<label for="" class="create__label">Images limit</label>
					<input type="text" placeholder="" v-model="imagesLimit">
				</div>



				<div class="create__row">
					<label for="" class="create__label">Title</label>
					<input type="text" class="create__field" v-model="title" value="">
				</div>

				<div class="create__row">
					<label for="" class="create__label">Describe</label>
					<textarea type="text" class="create__field" v-model="describe"></textarea>
				</div>

				<div class="create__row">
					<p>Images limit - {{ imagesLimit }}</p>
					<div id="dropzone"
						v-on="{
							dragleave: dropzoneDisable,
							drop: [dropZoneDrop, dropzoneDisable],
							dragenter: dropzoneEnable,
							dragover: dropzoneEnable}"
						v-bind:class="{hightlight: dropzoneIsActive}" class="droparea">

						<span class="droparea__text">Drop image or</span>
						<input type="file" class="droparea__input" multiple accept="image/*">
						<label class="button btn" for="fileElem">choose image</label>

						<ul v-if="photos.length" class="droparea__list">
							<li v-for="(src, index) in photos" :key="index" class="droparea__item" v-on:click="deleteImage(index)">
								<img v-bind:src="src" >
							</li>
						</ul>
					</div>
				</div>

				<div  class="create__row">
					<div class="create__survey create-survey">
						<button v-on:click="surveyIsVisible = true" class="create-survey__btn btn">Add survey</button>

						<div v-if="surveyIsVisible" class="create-survey__content">

							<h2>Input servey name</h2>
							<input v-model="surveyTitle" value="" type="text" class="create-survey__title post-field" placeholder="Survey name">

							<ul v-if="options.length" class="create-survey__list">
								<li v-for="(item, index) in options" :key="index" class="create-survey__item">
									<input v-model="options[index]" placeholder="Option name" class="create-survey__field" type="text">
									<span class="create-survey__delete-option" v-on:click="deleteOption(index)">delete option</span>
								</li>
							</ul>

							<div class="survey-buttons">
								<button class="create-survey__btn-option btn" v-on:click="addOption">add option</button>
								<button v-on:click="deleteSurvey" class="create-survey__btn-option btn btn-danger">delete survey</button>
							</div>
						</div>
					</div>
				</div>



			</div>


			<!-- End Create Post -->



			<!-- Start Preview Post -->



			<div class="preview">
				<!-- <h1>Post preview</h1> -->

				<h2 class="preview__title">{{ printTitle || 'Input post title' }}</h2>
				<p  class="preview__subtitle">{{ printDescribe || 'Input post describe' }}</p>
				<div class="preview__slider preview-slider">
					<ul class="preview-slider__list dp-slider__wrapper">
							<li v-for="(src, index) in photos" :key="index" class="preview-slider__item dp-slide">
								<img v-bind:src="src">
							</li>
					</ul>
				</div>

				<div v-if="surveyIsVisible" class="preview__survey preview-survey">
					<p class="preview-survey__title">{{printSurveyTitle || 'Input survey title'}}</p>

					<div v-if="options.length" v-for="(item, index) in options" class="preview-survey__list">
							<label :key="index" v-bind:for="'option-' + index" class="preview-survey__label">
								<input v-bind:id="'option-' + index" name="survey-answer" class="preview-survey__radio" type="radio">
								<span class="preview-survey__label-text">{{ item }}</span>
							</label>
					</div>
				</div>
			</div>


			<!-- End Preview Post -->


		</div>


	</main>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="dpslider.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="script.js"></script>
</body>
</html>