/* Common style */

body {
	background-color: #aab1a4; /*#26A69A*/
	padding-top: 50px;
	color: #666;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*{
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

img {
	max-width: 100%;
}


.hidden {
	display: none;
}

.btn {
	border: none;
	background-color: #fff;
	color: #43535f;
	padding: 10px 35px;
	border-radius: 3px;
	box-shadow: 0 6px 10px -1px rgba(146, 146, 146, .7);
	cursor: pointer;
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
	outline: none;
}

.btn-danger {
    border: none;
    background-color: transparent;
    color: crimson;
	box-shadow: none;
	opacity: .5;
}

.container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-start;
	align-items: flex-start;
	max-width: 1300px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}



/* Main style */

.github-icon {
	position: absolute;
	top: 35px;
	left: 35px;
	width: 100px;
}


.create {
	width: 69%;
}

.preview {
	width: 30%;
}

.create, .preview {
	box-shadow: 0 6px 10px -1px rgba(146, 146, 146, .7);
	padding: 20px;
	margin-bottom: 50px;
	border-radius: 5px;
	background-color: #f3f3f3;
}

textarea {
	width: 500px;
	height: 100px;
	resize: vertical;
}

.create__row {
	margin-bottom: 30px;
}

.create__label {
	display: block;
	margin-bottom: 10px;
	font-size: 20px;
}

input[type="text"],
textarea {
	padding: 10px;
	outline: none;
	color: #666;
	background-color: transparent;
	/*background-color: #34414a; */
	border: 1px solid #ddd;
	border-radius: 1px;
	box-shadow: inset 0 1px 5px -1px rgba(0, 0, 0, .1);
}

textarea {

}

.droparea {
	border: 2px dashed #ccc;
	min-height: 300px;
	padding: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.droparea__text {
	margin-right: 10px;
}

.droparea__list {
	flex-basis: 100%;
	margin-top: 20px;
	padding-left: 0;
	list-style: none;
	text-align: center;
	display: none;
}

.droparea img {
	pointer-events: none;
	user-select: none;

	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
}

.droparea__list.active {
	display: block;
}

.droparea__item {
    width: 350px;
    height: 250px;
    margin: 10px 3px;
	position: relative;
	overflow: hidden;
	display: inline-block;
}


#fileElem {
	display: none;
}

.droparea.hightlight {
	border-color: #7b98da;
}


.create-survey__list {
	padding-left: 0;
	list-style: none;
}

.create-survey__delete-option {
	font-style: normal;
	cursor: pointer;
	margin-left: 10px;
	display: inline-block;
	color: crimson;
	opacity: .6;
	font-size: 14px;
}



.create-survey__item {
	margin-bottom: 10px;
}


.preview-slider__list {
	padding-left: 0;
	list-style: none;
	overflow: hidden;
}

.preview-survey__title {
	font-size: 22px;
	font-weight: bold;
}

.preview-survey__radio,
.preview-survey__label-text {
	vertical-align: middle;
}

.preview-survey__radio {
	margin-right: 10px;
}

.preview-survey__label {
	display: block;
	margin-bottom: 10px;
}




/* Slider style */


.dp-slider__wrapper {
  padding: 10px 0;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;

  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  overflow: hidden;
  width: 100%;
}


.dp-slider__wrapper > *{
  float: left;
  text-align: center;
}

.dp-slider__prev,
.dp-slider__next {
  border: 1px solid;
  color: #414b52;
  background-color: transparent;
  padding: 10px 30px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  outline: none;
  margin: 0 5px;
  border-radius: 3px;
}

.dp-slider__prev:hover,
.dp-slider__next:hover {
  background-color: #414b52;
  color: #fff;
  cursor: pointer;
}


.dp-slider__nav,
.dp-slider__dots {
  text-align: center;
  margin-top: 30px;
}

.dp-slider__dots button {
  border: 1px solid;
  color: #414b52;
  background-color: transparent;
  margin: 02px;
  padding: 5px 8px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.dp-slider__dots button:hover {
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  background-color: #414b52;
  color: #fff;
  border-color: #414b52;
}